/*
===SCSS RGB===
$licorice: rgba(37, 24, 18, 1);
$brown-sugar: rgba(162, 112, 84, 1);
$bistre: rgba(46, 34, 29, 1);
$khaki: rgba(172, 167, 155, 1);
$tan: rgba(203, 171, 137, 1);

*/
/* font
@import url('https://fonts.googleapis.com/css2?family=Artifika&display=swap');
font-family: 'Artifika', serif;
*/


/*Présentation Graine*/
/*Variables CSS*/
/*Import font*/
/* @import url('https://fonts.googleapis.com/css2?family=Artifika&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&display=swap'); */

:root {
  /*Variable lier au boutton*/
  --main-color-frech: rgba(172, 167, 155, 1);
  --main-background-color: rgba(162, 112, 84, 1);
  --main-border: 1px solid rgba(203, 171, 137, 1);
  --main-color-interne: rgba(240, 240, 240, 1);
  /*Checkbox color style*/

  --main-color-interneCBox: rgba(37, 24, 18, 1);
  --main-color-bordureCBox: rgba(46, 34, 29, 1);
  --main-color-checkedCBox: rgba(172, 167, 155, 1);
  /* --main-color: white; */
  --main-color:  rgba(37, 24, 18, 1);
  /* --main-padding: 15px 32px; */
  --main-padding: 7px 16px;
  --main-text-align: center;
  --main-text-decoration: none;
  --main-display: inline-block;
  --main-font-size: 0.8em;
  --main-cursor: pointer;
  --main-radius: 5px;
  /*Autres variable*/
  /* --main-font-family: 'Artifika', serif; */
    --main-font-family: 'Playfair Display', serif;
   /* --main-font-family: 'Bodoni Moda', serif; */

}
/*Presentation basique*/




html {
  background-color: rgba(172, 167, 155, 1);
}

h1, h2 {
  font-size: 2em;
  font-family: var(--main-font-family);
}
h3 {
  font-size: 1.2em;
  font-family: var(--main-font-family);
}
a {
  text-decoration: none;
  font-family: var(--main-font-family);
}
.listeProfil {
  list-style: none;
  text-align: left;
}
/*Flex*/
.flex-rows {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.alignLeft {
  align-self: end;
  margin-left: 1em;
}
.alignRigth {
  padding-right: 1em;
  margin-right: 1em;
}
.flex-colonne {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 1em;
}
.nav {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background: linear-gradient(to top left, var(--main-background-color), var(--main-color-interne));
    border-radius: var(--main-radius);
    border: 2px solid var(--main-color-interne);
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: auto;
}


/*Formulaire*/
.designTroupe {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    /*background-color: var(--main-background-color);*/
    background: linear-gradient(to top left, var(--main-background-color), var(--main-color-interne));
    border-radius: var(--main-radius);
    border: 2px solid var(--main-color-interne);
    padding: 1em;
}

.formulaireClassique {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 0.5em;
}
input, label {
  margin-bottom: 0.25em;
}
input {
  background-color: var(--main-color-interne);
  border-radius: var(--main-radius);
}
.buttonForm {
  margin: 0.5em;
}
body {
  background-color: var(--main-border);
}

/*formulaire*/
.pLabel {
  font-size: 1.2em;
}
.hForm {
  font-size: 1.5em;
  font-weight: 500;
}
  /*Input type radio*/
  input[type="radio"] ~ label {

    /*color: rgba(172, 167, 155, 1);*/
    color:var(--main-color-frech);
  }
  input[type="radio"]:checked ~ label {
    /*color: rgba(162, 112, 84, 1);*/
    color: var(--main-background-color);
  }
  fieldset {
    background-color: var(--main-color-interneCBox);
    /*background-color: rgba(37, 24, 18, 1);*/
    border-radius: 10px;
    border: 2px solid var(--main-color-interne);
  }


  /*CheckBox*/
    /* toggle in label designing */
    .toggle {
        position : relative ;
        display : inline-block;
        vertical-align: middle;
        line-height: normal;
        width : 12em;
        height : 2em;
        background-color: var(--main-color-interneCBox);
        border-radius: 30px;
        border: 3px solid var(--main-color-bordureCBox);
        position: relative;
        z-index: 0;

    }

    /* After slide changes */
    .toggle:after {
        content: '';
        position: absolute;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background-color: var(--main-background-color);
        top: 0px;
        left: 0px;
        transition:  all 0.2s;
        z-index: 0;
    }

    /* Toggle text */
    .checkedText {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 0.75em;
        display: flex;
        padding-left: 1em;
        /*padding-bottom: 5em;*/
        margin-bottom: 5em;
        color: var(--main-color-interneCBox);
        z-index: 0;
    }

    /* Checkbox checked effect */
    .checkbox:checked + .toggle::after {
         left : 9.966em;
         z-index: 0;
    }

    /* Checkbox checked toggle label bg color */
    .checkbox:checked + .toggle {
        background-color: var(--main-color-checkedCBox);

    }

    /* Checkbox vanished */
    .checkbox {
        display : none;
    }
  /*CheckBox*/
  /*Radio*/
.labelRadio {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2em;
}
input[type="radio"] ~ label {
  color: var(--main-color-frech:);
  display: inline-block;
  vertical-align: middle;
}
input[type="radio"]:checked ~ label {
  color: var(--main-background-color);

}
input[type="radio"] {
   /* Masquer le bouton radio par défaut */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Définir la taille du bouton */
  width: 1.2em;
  height: 1.2em;
  /* Définir la forme carrée */
  border-radius: 3px;
  /* Ajouter une bordure */
  border: 1px solid #000;
}
input[type="radio"]:checked {
  background-color: var(--main-background-color);
}
.reverse {
  display: flex;
  flex-direction: row-reverse;
}
/*Radio*/
/*Fin formulaire*/
/*Titre et sousTitre*/
.hautPage {
  text-align: center;
}
main {
  text-align: center;
  align-content: center;
}
footer {
    text-align: center;
    font-family: var(--main-font-family);

}
/*Navigation*/
/*Navigation bandeau*/
.navigationBandeau {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.navigationBandeau li {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;

}
.formLi {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: baseline;
}
.formLiCol {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.formCheck {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  align-items: inherit;
}
/*Bouton lien*/
/*Variable CSS boutton*/

/*Fin Maitre boutton*/
button {
  background-color: var(--main-background-color);
  border: var(--main-border);
  color: var(--main-color);
  padding: var(--main-padding);
  text-align: var(--main-text-align);
  text-decoration: var(--main-text-decoration);
  display: var(--main-display);
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  cursor: var(--main-cursor);
  border-radius: var(--main-radius);

}
a {
  background-color: var(--main-background-color);
  border: var(--main-border);
  color: var(--main-color);
  padding: var(--main-padding);
  text-align: var(--main-text-align);
  text-decoration: var(--main-text-decoration);
  display: var(--main-display);
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  cursor: var(--main-cursor);
  border-radius: var(--main-radius);
  margin-right: 0.5vw;
  /*Ajout*/
  position: relative;
  z-index: 5;

}
.lienNav {
  background-color: var(--main-background-color);
  border: var(--main-border);
  color: var(--main-color);
  padding: var(--main-padding);
  text-align: var(--main-text-align);
  text-decoration: var(--main-text-decoration);
  display: var(--main-display);
  font-size: var(--main-font-size);
  cursor: var(--main-cursor);
}
.lienNav:hover {
   border: 3px solid var(--main-color-frech);
   font-size: 1em;
   transition: border font-size 0.2s;
}
/*Menu bandeau Tester sur un autre projet*/
.dropdown {
display: inline-block;
}
.dropdown-child {
position: absolute;
display: none;
min-width: 250px;
}

.dropdown-child a {
  background-color: var(--main-background-color);
  border: var(--main-border);
  color: var(--main-color);
  padding: var(--main-padding);
  text-align: var(--main-text-align);
  text-decoration: var(--main-text-decoration);
  display: var(--main-display);
  font-size: var(--main-font-size);
  cursor: var(--main-cursor);
  display: block;
}
.dropdown:hover .dropdown-child {
display: block;
transition: display 3s;
}
/*Fin présentation graines*/
/*==Trucs pratiques=*/
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Bibliothèque Grid*/
.colums2 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
text-align: initial;
margin-top: 1em;
}

.col21 { grid-area: 1 / 1 / 2 / 2; }
.col22 { grid-area: 1 / 2 / 2 / 3; }
.col23 { grid-area: 2 / 1 / 3 / 2; }
.col24 { grid-area: 2 / 2 / 3 / 3; }
.col25 { grid-area: 3 / 1 / 4 / 2; }
.col26 { grid-area: 3 / 2 / 4 / 3; }
.col27 { grid-area: 4 / 1 / 5 / 2; }
.col28 { grid-area: 4 / 2 / 5 / 3; }

.colums6 {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
margin-top: 1em;
}

.col1 { grid-area: 1 / 1 / 2 / 2; }
.col2 { grid-area: 1 / 2 / 2 / 3; }
.col3 { grid-area: 1 / 3 / 2 / 4; }
.col4 { grid-area: 1 / 4 / 2 / 5; }
.col5 { grid-area: 1 / 5 / 2 / 6; }
.col6 { grid-area: 1 / 6 / 2 / 7; }




.talent {
  display: flex;
  flex-direction: column;
  align-items: left;
  /*Presentation*/
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  /*background-color: var(--main-background-color);*/
  background: linear-gradient(to top left, var(--main-background-color), var(--main-color-interne));
  border-radius: var(--main-radius);
  padding: 1em;
  text-align: left;
  font-size: 1.2em;

}
.nomTalent::first-letter {
  text-transform: uppercase;
}


.nomTalent {

  font-size: 1.5em;
  font-weight: 500;
  padding: 1em 1em 0.5em 1em;


 }
.descriptionTalent {

}
.prixTalent { grid-area: 2 / 1 / 3 / 2; }
.FactionsTalent { grid-area: 2 / 2 / 3 / 3; }


/*
.nomTalent { grid-area: 1 / 1 / 2 / 2; }
.descriptionTalent { grid-area: 1 / 2 / 2 / 3; }
.prixTalent { grid-area: 2 / 1 / 3 / 2; }
.FactionsTalent { grid-area: 2 / 2 / 3 / 3; }
*/



.headGrid {
  /*background-color: var(--main-background-color);*/
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  /*background-color: var(--main-background-color);*/
  background: linear-gradient(to top left, var(--main-background-color), var(--main-color-interne));
  padding: 1em;
  border-radius: var(--main-radius);
  border: 2px solid var(--main-color-interne);
  /*==Presentation==*/
  font-size: 1em;
  font-weight: 800;
  margin-bottom: 1em;
}
.borderLeft {
  padding-left: 0.85em;
  border-left: 1px solid var(--main-background-color);
}

.GridClasse {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr) 1fr 0.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    text-align: left;
    padding-bottom: 1em;
    align-items: center;
    padding-left: 1em;
    padding-right: 0em;
    padding-bottom: 2em;
    border-radius: var(--main-radius);
  }

.nomClasse { grid-area: 1 / 1 / 2 / 2; }
.codeClasse { grid-area: 1 / 2 / 2 / 3; }
.deplacementClasse { grid-area: 1 / 3 / 2 / 4; }
.descriptionClasse { grid-area: 1 / 4 / 2 / 5;  }
.centerClasse {
  text-align: center;
}
.formClasse{
    grid-area: 1 / 5 / 2 / 6;
    display: flex;
    flex-direction: row;
  }
  .GridRS {
      display: grid;
        grid-template-columns: 0.1fr 0.6fr 0.1fr 0.2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        text-align: left;
        padding-bottom: 1em;
        align-items: center;
        padding-left: 1em;
        padding-right: 0em;
        padding-bottom: 2em;
        padding-left: 1em;
        padding-right: 0em;
        padding-top: 2em;
        padding-bottom: 2em;
        text-align: justify;
      }

.nomRS { grid-area: 1 / 1 / 2 / 2; }
.descriptionRS { grid-area: 1 / 2 / 2 / 3; }
.prixRS {
      grid-area: 1 / 3 / 2 / 4;
      text-align: center;
    }
.formRS {
    grid-area: 1 / 4 / 2 / 5;
    text-align: center;
  }
  .arrayWeapon {
  	display: grid;
  	grid-template-columns: repeat(4, 0.25fr);
  	grid-template-rows: 1fr;
  	grid-column-gap: 20px;
  	grid-row-gap: 0px;
  	text-align: left;
  	align-content: center;
  	align-self: center;
  	position: initial;
  	padding-left: 1em;
  	padding-right: 0em;
  	padding-bottom: 2em;
    border-radius: var(--main-radius);
  }

  .nomWeapon { grid-area: 1 / 1 / 2 / 2; }
  .descriptionWeapon { grid-area: 1 / 2 / 2 / 3; }
  .close { grid-area: 1 / 3 / 2 / 4; }
  .distance { grid-area: 1 / 4 / 2 / 5; }

  .adminFaction {
    display: grid;
    grid-template-columns: 1fr 2fr repeat(3, 0.3fr) repeat(2, 0.5fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-left: 1em;
    padding-right: 0em;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: justify;
    border-radius: var(--main-radius);
  }
  .userFaction {
    display: grid;
    grid-template-columns: 1fr 2fr repeat(3, 0.3fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-left: 1em;
    padding-right: 0em;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: justify;
    border-radius: var(--main-radius);
  }
  .nomFaction { grid-area: 1 / 1 / 2 / 2; }
  .descriptionFaction {
    grid-area: 1 / 2 / 2 / 3;
    padding-right: 1em;
  }
  .login { grid-area: 1 / 3 / 2 / 4; }
  .private { grid-area: 1 / 4 / 2 / 5; }
  .valides { grid-area: 1 / 5 / 2 / 6; }
  .update { grid-area: 1 / 6 / 2 / 7; }
  .delete { grid-area: 1 / 7 / 2 / 8; }
/*GRID == Grille faction*/
.grilleFaction {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.chef { grid-area: 1 / 3 / 2 / 4; }
.guerrier { grid-area: 1 / 2 / 2 / 3; }
.berseker { grid-area: 1 / 4 / 2 / 5; }
.huscarl { grid-area: 1 / 5 / 2 / 6; }
.soigneur { grid-area: 1 / 6 / 2 / 7; }
.chariot { grid-area: 1 / 7 / 2 / 8; }
.zoneBlanche { grid-area: 1 / 1 / 2 / 2; }
.cout { grid-area: 2 / 1 / 3 / 2; }
.protection { grid-area: 3 / 1 / 4 / 8; }
.sansProtection { grid-area: 4 / 1 / 5 / 2; }
.armure { grid-area: 5 / 1 / 6 / 2; }
.bouclier { grid-area: 6 / 1 / 7 / 2; }
.armesClose { grid-area: 7 / 1 / 8 / 8; }
.armesImp { grid-area: 8 / 1 / 9 / 2; }
.Lance { grid-area: 9 / 1 / 10 / 2; }
.ArmeBase { grid-area: 10 / 1 / 11 / 2; }
.HacheD { grid-area: 11 / 1 / 12 / 2; }
.armesTir { grid-area: 12 / 1 / 13 / 8; }
.fronde { grid-area: 13 / 1 / 14 / 2; }
.javelot { grid-area: 14 / 1 / 15 / 2; }
.arc { grid-area: 15 / 1 / 16 / 2; }
.arbalete { grid-area: 16 / 1 / 17 / 2; }
.equipementSpe { grid-area: 17 / 1 / 18 / 8; }
.cheval { grid-area: 18 / 1 / 19 / 2; }
.banniere { grid-area: 19 / 1 / 20 / 2; }
.cor { grid-area: 20 / 1 / 21 / 2; }
.chien { grid-area: 21 / 1 / 22 / 2; }
.cout00 { grid-area: 2 / 2 / 6 / 3; }
.cout01 { grid-area: 4 / 2 / 5 / 3; }
.cout02 { grid-area: 5 / 2 / 6 / 3; }
.cout03 { grid-area: 6 / 2 / 7 / 3; }
.cout04 { grid-area: 8 / 2 / 9 / 3; }
.cout05 { grid-area: 9 / 2 / 10 / 3; }
.cout06 { grid-area: 10 / 2 / 11 / 3; }
.cout07 { grid-area: 11 / 2 / 12 / 3; }
.cout08 { grid-area: 13 / 2 / 14 / 3; }
.cout09 { grid-area: 14 / 2 / 15 / 3; }
.cout010 { grid-area: 15 / 2 / 16 / 3; }
.cout011 { grid-area: 16 / 2 / 17 / 3; }
.cout012 { grid-area: 18 / 2 / 19 / 3; }
.cout013 { grid-area: 19 / 2 / 20 / 3; }
.cout014 { grid-area: 20 / 2 / 21 / 3; }
.cout015 { grid-area: 21 / 2 / 22 / 3; }
.form0 { grid-area: 22 / 2 / 23 / 3; }
.cout10 { grid-area: 2 / 3 / 3 / 4; }
.cout11 { grid-area: 4 / 3 / 5 / 4; }
.cout12 { grid-area: 5 / 3 / 6 / 4; }
.cout13 { grid-area: 6 / 3 / 7 / 4; }
.cout14 { grid-area: 8 / 3 / 9 / 4; }
.cout15 { grid-area: 9 / 3 / 10 / 4; }
.cout16 { grid-area: 10 / 3 / 11 / 4; }
.cout17 { grid-area: 11 / 3 / 12 / 4; }
.cout18 { grid-area: 13 / 3 / 14 / 4; }
.cout19 { grid-area: 14 / 3 / 15 / 4; }
.cout110 { grid-area: 15 / 3 / 16 / 4; }
.cout111 { grid-area: 16 / 3 / 17 / 4; }
.cout112 { grid-area: 18 / 3 / 19 / 4; }
.cout113 { grid-area: 19 / 3 / 20 / 4; }
.cout114 { grid-area: 20 / 3 / 21 / 4; }
.cout115 { grid-area: 21 / 3 / 22 / 4; }
.form1 { grid-area: 22 / 3 / 23 / 4; }
.cout20 { grid-area: 2 / 4 / 3 / 5; }
.cout21 { grid-area: 4 / 4 / 5 / 5; }
.cout22 { grid-area: 5 / 4 / 6 / 5; }
.cout23 { grid-area: 6 / 4 / 7 / 5; }
.cout24 { grid-area: 8 / 4 / 9 / 5; }
.cout25 { grid-area: 9 / 4 / 10 / 5; }
.cout26 { grid-area: 10 / 4 / 11 / 5; }
.cout27 { grid-area: 11 / 4 / 12 / 5; }
.cout28 { grid-area: 13 / 4 / 14 / 5; }
.cout29 { grid-area: 14 / 4 / 15 / 5; }
.cout210 { grid-area: 15 / 4 / 16 / 5; }
.cout211 { grid-area: 16 / 4 / 17 / 5; }
.cout212 { grid-area: 18 / 4 / 19 / 5; }
.cout213 { grid-area: 19 / 4 / 20 / 5; }
.cout214 { grid-area: 20 / 4 / 21 / 5; }
.cout215 { grid-area: 21 / 4 / 22 / 5; }
.form2 { grid-area: 22 / 4 / 23 / 5; }
.cout30 { grid-area: 2 / 5 / 3 / 6; }
.cout31 { grid-area: 4 / 5 / 5 / 6; }
.cout32 { grid-area: 5 / 5 / 6 / 6; }
.cout33 { grid-area: 6 / 5 / 7 / 6; }
.cout34 { grid-area: 8 / 5 / 9 / 6; }
.cout35 { grid-area: 9 / 5 / 10 / 6; }
.cout36 { grid-area: 10 / 5 / 11 / 6; }
.cout37 { grid-area: 11 / 5 / 12 / 6; }
.cout38 { grid-area: 13 / 5 / 14 / 6; }
.cout39 { grid-area: 14 / 5 / 15 / 6; }
.cout310 { grid-area: 15 / 5 / 16 / 6; }
.cout311 { grid-area: 16 / 5 / 17 / 6; }
.cout312 { grid-area: 18 / 5 / 19 / 6; }
.cout313 { grid-area: 19 / 5 / 20 / 6; }
.cout314 { grid-area: 20 / 5 / 21 / 6; }
.cout315 { grid-area: 21 / 5 / 22 / 6; }
.form3 { grid-area: 22 / 5 / 23 / 6; }
.cout40 { grid-area: 2 / 6 / 3 / 7; }
.cout41 { grid-area: 4 / 6 / 5 / 7; }
.cout42 { grid-area: 5 / 6 / 6 / 7; }
.cout43 { grid-area: 6 / 6 / 7 / 7; }
.cout44 { grid-area: 8 / 6 / 9 / 7; }
.cout45 { grid-area: 9 / 6 / 10 / 7; }
.cout46 { grid-area: 10 / 6 / 11 / 7; }
.cout47 { grid-area: 11 / 6 / 12 / 7; }
.cout48 { grid-area: 13 / 6 / 14 / 7; }
.cout49 { grid-area: 14 / 6 / 15 / 7; }
.cout410 { grid-area: 15 / 6 / 16 / 7; }
.cout411 { grid-area: 16 / 6 / 17 / 7; }
.cout412 { grid-area: 18 / 6 / 19 / 7; }
.cout413 { grid-area: 19 / 6 / 20 / 7; }
.cout414 { grid-area: 20 / 6 / 21 / 7; }
.cout415 { grid-area: 21 / 6 / 22 / 7; }
.form4 { grid-area: 22 / 6 / 23 / 7; }
.cout50 { grid-area: 2 / 7 / 3 / 8; }
.cout51 { grid-area: 4 / 7 / 5 / 8; }
.cout52 { grid-area: 5 / 7 / 6 / 8; }
.cout53 { grid-area: 6 / 7 / 7 / 8; }
.cout54 { grid-area: 8 / 7 / 9 / 8; }
.cout55 { grid-area: 9 / 7 / 10 / 8; }
.cout56 { grid-area: 10 / 7 / 11 / 8; }
.cout57 { grid-area: 11 / 7 / 12 / 8; }
.cout58 { grid-area: 13 / 7 / 14 / 8; }
.cout59 { grid-area: 14 / 7 / 15 / 8; }
.cout510 { grid-area: 15 / 7 / 16 / 8; }
.cout511 { grid-area: 16 / 7 / 17 / 8; }
.cout512 { grid-area: 18 / 7 / 19 / 8; }
.cout513 { grid-area: 19 / 7 / 20 / 8; }
.cout514 { grid-area: 20 / 7 / 21 / 8; }
.cout515 { grid-area: 21 / 7 / 22 / 8; }
.form5 { grid-area: 22 / 7 / 23 / 8; }

.gridSelectGrille {
display: grid;
grid-template-columns: 0.6fr 0.4fr;
grid-template-rows: 1fr;
grid-column-gap: 10px;
grid-row-gap: 0px;
}

.labelGrid {
  grid-area: 1 / 1 / 2 / 2;
  text-align: left;
 }
.selectGrid { grid-area: 1 / 2 / 2 / 3; }


/*==Objet left==*/
.objetLeft {
  text-align: left;
  margin-left: 2em;
}
/*==Gallery ==*/
  .gallery {
    margin: 100px auto 0;
    padding: 0 20px;
    max-width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 5px;
    justify-content: center;
  }

  .item {
    min-height: auto;
    min-width: auto;
    background: var(--main-background-color);
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--main-radius);
  }

/*Presnetation troupe*/
  .presentationTroupe {
    list-style: none;
    font-size: 1.3em;
    padding-top: inherit;
    padding-bottom: inherit;
  }
  .box {
    margin-right: 1em;
  }

/**===id JavaScript===*/

#hiddenForm {
  padding-top: 1em;
  padding-bottom: 1em;
  top: 30%;
  left: 35%;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 0px 12px -6px #151515;
  box-shadow: 4px 0px 12px -6px #151515;
  position: absolute;
  width: 30%;
  display: none;
  border: 1px solid black;
  border-radius: var(--main-radius);
}
