/*Présentation Graine*/
/*Variables CSS*/
:root {
  /*Variable lier au boutton*/
  --main-background-color: grey;
  --main-border: none;
  --main-color: white;
  --main-padding: 15px 32px;
  --main-text-align: center;
  --main-text-decoration: none;
  --main-display: inline-block;
  --main-font-size: 16px;
  --main-cursor: pointer;
  /*Autres variable*/
}
/*Presentation basique*/
h1, h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
a {
  text-decoration: none;
}
.listeProfil {
  list-style: none;
  text-align: left;
}
/*Flex*/
.flex-rows {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.flex-colonne {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

/*Formulaire*/
.formulaireClassique {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 0.5em;
}
input, label {
  margin-bottom: 0.25em;
}
.buttonForm {
  margin: 0.5em;
}
/*Fin formulaire*/
/*Titre et sousTitre*/
.hautPage {
  text-align: center;
}
main {
  text-align: center;
  align-content: center;
}
footer {
    text-align: center;
}
/*Navigation*/
/*Navigation bandeau*/
.navigationBandeau {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.navigationBandeau li {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}
/*Bouton lien*/
/*Variable CSS boutton*/

/*Fin Maitre boutton*/
button {
  background-color: var(--main-background-color);
  border: var(--main-border);
  color: var(--main-color);
  padding: var(--main-padding);
  text-align: var(--main-text-align);
  text-decoration: var(--main-text-decoration);
  display: var(--main-display);
  font-size: var(--main-font-size);
  cursor: var(--main-cursor);
}
a {
  background-color: var(--main-background-color);
  border: var(--main-border);
  color: var(--main-color);
  padding: var(--main-padding);
  text-align: var(--main-text-align);
  text-decoration: var(--main-text-decoration);
  display: var(--main-display);
  font-size: var(--main-font-size);
  cursor: var(--main-cursor);
}
.lienNav {
  background-color: var(--main-background-color);
  border: var(--main-border);
  color: var(--main-color);
  padding: var(--main-padding);
  text-align: var(--main-text-align);
  text-decoration: var(--main-text-decoration);
  display: var(--main-display);
  font-size: var(--main-font-size);
  cursor: var(--main-cursor);
}
.lienNav:hover {
   border: 3px solid #302A39ff;
   transition: border 0.7s;
}
/*Menu bandeau Tester sur un autre projet*/
.dropdown {
display: inline-block;
}
.dropdown-child {
position: absolute;
display: none;
min-width: 250px;
}

.dropdown-child a {
  background-color: var(--main-background-color);
  border: var(--main-border);
  color: var(--main-color);
  /* padding: var(--main-padding); */
  text-align: var(--main-text-align);
  text-decoration: var(--main-text-decoration);
  display: var(--main-display);
  font-size: var(--main-font-size);
  cursor: var(--main-cursor);
  padding: 20px;
  display: block;
}
.dropdown:hover .dropdown-child {
display: block;
transition: display 3s;
}
/*Fin présentation graines*/
/*==Trucs pratiques=*/
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Bibliothèque Grid*/
.headGrid {
  background-color: var(--main-background-color);
  font-size: 1em;
  font-weight: 800;
}


.GridClasse {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr) 1fr 0.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    text-align: left;
    padding-bottom: 1em;
    align-items: center;
    padding-left: 1em;
    padding-right: 0em;
    padding-bottom: 2em;
  }

.nomClasse { grid-area: 1 / 1 / 2 / 2; }
.codeClasse { grid-area: 1 / 2 / 2 / 3; }
.deplacementClasse { grid-area: 1 / 3 / 2 / 4; }
.descriptionClasse { grid-area: 1 / 4 / 2 / 5; }
.formClasse{
    grid-area: 1 / 5 / 2 / 6;
    display: flex;
    flex-direction: row;
  }
  .GridRS {
      display: grid;
        grid-template-columns: 0.1fr 0.6fr 0.1fr 0.2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        text-align: left;
        padding-bottom: 1em;
        align-items: center;
        padding-left: 1em;
        padding-right: 0em;
        padding-bottom: 2em;
      }

.nomRS { grid-area: 1 / 1 / 2 / 2; }
.descriptionRS { grid-area: 1 / 2 / 2 / 3; }
.prixRS {
      grid-area: 1 / 3 / 2 / 4;
      text-align: center;
    }
.formRS {
    grid-area: 1 / 4 / 2 / 5;
    text-align: center;
  }
  .arrayWeapon {
  	display: grid;
  	grid-template-columns: repeat(4, 0.25fr);
  	grid-template-rows: 1fr;
  	grid-column-gap: 20px;
  	grid-row-gap: 0px;
  	text-align: left;
  	align-content: center;
  	align-self: center;
  	position: initial;
  	padding-left: 1em;
  	padding-right: 0em;
  	padding-bottom: 2em;
  }

  .nomWeapon { grid-area: 1 / 1 / 2 / 2; }
  .descriptionWeapon { grid-area: 1 / 2 / 2 / 3; }
  .close { grid-area: 1 / 3 / 2 / 4; }
  .distance { grid-area: 1 / 4 / 2 / 5; }

  .adminFaction {
    display: grid;
    grid-template-columns: 1fr 2fr repeat(3, 0.3fr) repeat(2, 0.5fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .nomFaction { grid-area: 1 / 1 / 2 / 2; }
  .descriptionFaction { grid-area: 1 / 2 / 2 / 3; }
  .login { grid-area: 1 / 3 / 2 / 4; }
  .private { grid-area: 1 / 4 / 2 / 5; }
  .valides { grid-area: 1 / 5 / 2 / 6; }
  .update { grid-area: 1 / 6 / 2 / 7; }
  .delete { grid-area: 1 / 7 / 2 / 8; }



/*==Objet left==*/
.objetLeft {
  text-align: left;
  margin-left: 2em;
}

/**===id JavaScript===*/

#hiddenForm {
  padding-top: 1em;
  padding-bottom: 1em;
  top: 30%;
  left: 35%;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 0px 12px -6px #151515;
  box-shadow: 4px 0px 12px -6px #151515;
  position: absolute;
  width: 30%;
  display: none;
  border: 1px solid black;
  border-radius: 5px;
}
